<div class="question-form">
	<form id="question-form">
		<p>Title:</p><pre>&#9;</pre><input type="text" name="title" />
		<p>Weight:</p><pre>&#9;</pre><input type="text" name="weight" /></br>
		<p>Category:</p><pre>&#9;</pre><input type="text" name="category" /></br>
		<p>Prompt:</p><pre>&#9;</pre><input type="text" name="weight" /></br>
		<p>Test Input:</p><pre>&#9;</pre><input type="text" name="weight" /></br>
		<p>Test Output:</p><pre>&#9;</pre><input type="text" name="weight" /></br>
		<button type="button" onclick="submitInfo(ucid.value, password.value)">submit</button>
	</form>
</div>